In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import cv2
from PIL import Image
import pickle
%matplotlib inline

In [27]:
#Loading our pickle data from image processing part
df=pickle.load(open('./data/resized_images.pickle','rb'))

In [28]:
df.head()

,gender,0,1,2,3,4,5,6,7,8,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,male,106,100,81,69,71,48,51,55,41,...,17,18,26,28,31,30,31,29,31,31
1,male,45,47,48,48,48,49,50,52,50,...,137,135,134,135,138,138,137,138,138,135
2,male,165,184,209,224,220,211,193,170,153,...,14,14,14,13,13,14,14,14,14,15
3,male,141,143,148,156,161,173,157,138,146,...,205,203,173,86,72,60,46,59,88,148
4,male,180,115,41,103,23,25,36,35,25,...,112,110,104,112,86,83,116,126,111,113

In [29]:
#checking for missing values if any
df.dropna(axis=0,inplace=True)
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

### There are no missing values

# Normalizing data

In [30]:
x=df.iloc[:,1:].values #independent features
y=df.iloc[:,0].values # dependent

### Min-Max scaling

In [31]:
x_norm=(x-x.min())/(x.max()-x.min())

In [32]:
#if female=1.male=0
y_norm=np.where(y=='female',1,0)

In [33]:
#saving x and y
np.savez('./data/normalized_data.npz',x_norm,y_norm)